.NewCertificate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Content {
  width: 400px;
}

.DropdownRow {
  display: flex;
  justify-content: space-between;
}

.Dropdown {
  width: 48%;
}
