:28080

route /health {
    respond "{\"status\": \"OK\"}" 200
}

route /* {
    reverse_proxy :3000
}

route /api/* {
    uri strip_prefix /api
    reverse_proxy :8081
}

route /api/httplogger/* {
    uri strip_prefix /api/httplogger
    reverse_proxy :8080
}